USE [EnglishCenter]
GO
/****** Object:  UserDefinedFunction [dbo].[sp_KTTaiKhoan]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sp_KTTaiKhoan]
(
	@id int,
	@manv nvarchar(100),
	@chucvu nvarchar(100)
)
returns varchar(5)
as
begin
	declare @ketqua varchar(5)
	set @ketqua='False';
	if(exists (select * from TaikhoanGiaoVien t
	where t.ChucVu= @chucvu
	and t.NhanVienId=@id
	and t.Username=@manv))
		set @ketqua ='True';
	else 
		set @ketqua= 'False';
return @ketqua
end
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[KhoaHocId] [int] IDENTITY(1,1) NOT NULL,
	[Ma_KH] [nvarchar](50) NOT NULL,
	[Ten_KH] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhoaHoc] PRIMARY KEY CLUSTERED 
(
	[KhoaHocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ListKhoaHoc] 
()
returns table
as
	return(select * from KhoaHoc
	where TrangThai like '1');
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienId] [int] IDENTITY(1,1) NOT NULL,
	[Ma_NV] [nvarchar](50) NULL,
	[HoTen_NV] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT_NV] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[Birthday] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_ListGiaoVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[view_ListGiaoVien]

as
select NhanVien.HoTen_NV, NhanVien.Ma_NV, NhanVien.NhanVienId from NhanVien
		where NhanVien.ChucVu like N'Giáo Viên%'
		and NhanVien.TrangThai like '1';
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[LopHocId] [int] IDENTITY(1,1) NOT NULL,
	[Ma_LH] [nvarchar](100) NOT NULL,
	[Ten_LH] [nvarchar](50) NULL,
	[ThoiGianBatDau_LH] [date] NULL,
	[ThoiGianKetThuc_LH] [date] NULL,
	[HocPhi] [numeric](18, 0) NULL,
	[NhanVienId] [int] NULL,
	[KhoaHocId] [int] NULL,
	[LevelsId] [int] NULL,
	[SoBuoiHoc] [int] NULL,
	[KhungGioHoc] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[LopHocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[LevelsId] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Level] [nvarchar](50) NOT NULL,
	[Ten_Level] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListLopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fn_ListLopHoc]
()
returns table
as
	return (select LopHoc.LopHocId,LopHoc.Ma_LH,LopHoc.Ten_LH, NhanVien.HoTen_NV,KhoaHoc.Ten_KH,
Levels.Ten_Level, LopHoc.HocPhi,LopHoc.SoBuoiHoc, LopHoc.KhungGioHoc,
LopHoc.ThoiGianBatDau_LH,LopHoc.ThoiGianKetThuc_LH
  from LopHoc join KhoaHoc on KhoaHoc.KhoaHocId=LopHoc.KhoaHocId
	join NhanVien on NhanVien.NhanVienId=LopHoc.NhanVienId
	join Levels on Levels.LevelsId= LopHoc.LevelsId	
where LopHoc.TrangThai like '1')
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimLopTheoGiaoVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_TimLopTheoGiaoVien] 
(
	@idgv int
)
returns table
as
return(select LopHoc.LopHocId, LopHoc.Ma_LH,LopHoc.Ten_LH, NhanVien.HoTen_NV,KhoaHoc.Ten_KH,
	Levels.Ten_Level, LopHoc.HocPhi,LopHoc.SoBuoiHoc, LopHoc.KhungGioHoc,
	LopHoc.ThoiGianBatDau_LH,LopHoc.ThoiGianKetThuc_LH
	from LopHoc join KhoaHoc on KhoaHoc.KhoaHocId=LopHoc.KhoaHocId
		join NhanVien on NhanVien.NhanVienId=LopHoc.NhanVienId
		join Levels on Levels.LevelsId= LopHoc.LevelsId	
	where NhanVien.NhanVienId=@idgv and LopHoc.TrangThai like '1'
	)	
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[HocVienId] [int] IDENTITY(1,1) NOT NULL,
	[Ma_HV] [nvarchar](50) NOT NULL,
	[HoTen_HV] [nvarchar](50) NULL,
	[DiaChi_HV] [nvarchar](100) NULL,
	[Email_HV] [nvarchar](50) NULL,
	[SDT_HV] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[HocVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fn_ListHocVien]
(
)
returns table
as
return(select * from HocVien
		where TrangThai like '1')
GO
/****** Object:  View [dbo].[view_ListKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_ListKhoaHoc] 
as
	select Ma_KH, Ten_KH, MoTa from KhoaHoc;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListNhomTaiLieu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ListNhomTaiLieu] 
()
returns table
as
	return(select NhomTaiLieu.NhomTaiLieuId,NhomTaiLieu.Ten_NTL,KhoaHoc.Ten_KH from NhomTaiLieu 
				join KhoaHoc on KhoaHoc.KhoaHocId=NhomTaiLieu.NhomTaiLieuId)
GO
/****** Object:  View [dbo].[dsLop]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[dsLop]
as 
select Ma_LH, Ten_LH, ThoiGianBatDau_LH, ThoiGianKetThuc_LH, HocPhi, SoBuoiHoc,KhungGioHoc
from LopHoc l join KhoaHoc k on l.KhoaHocId = k.KhoaHocId
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[PhieuThuId] [int] IDENTITY(1,1) NOT NULL,
	[NgayThanhToan] [date] NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[HocVienId] [int] NOT NULL,
	[LopHocId] [int] NOT NULL,
	[SoTien] [money] NULL,
	[NhanVienId] [int] NULL,
 CONSTRAINT [PK_PhieuThu] PRIMARY KEY CLUSTERED 
(
	[PhieuThuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[dsHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[dsHocVien] 

as
select h.Ma_HV, h.HoTen_HV, h.SDT_HV
from  HocVien h join PhieuThu p
on h.HocVienId = p.HocVienId and p.LopHocId = (select LopHocId from LopHoc where Ma_LH='LH_1')
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListLopHocTheoKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fn_ListLopHocTheoKhoaHoc]
(
 @idkh int
)
returns table
as
	return (select LopHoc.LopHocId,LopHoc.Ma_LH,LopHoc.Ten_LH, NhanVien.HoTen_NV,KhoaHoc.Ten_KH,
Levels.Ten_Level, LopHoc.HocPhi,LopHoc.SoBuoiHoc, LopHoc.KhungGioHoc,
LopHoc.ThoiGianBatDau_LH,LopHoc.ThoiGianKetThuc_LH
  from LopHoc join KhoaHoc on KhoaHoc.KhoaHocId=LopHoc.KhoaHocId
	join NhanVien on NhanVien.NhanVienId=LopHoc.NhanVienId
	join Levels on Levels.LevelsId= LopHoc.LevelsId	
where LopHoc.TrangThai like '1' and KhoaHoc.KhoaHocId=@idkh)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListHocVienCuaLopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ListHocVienCuaLopHoc]
(
	@idlh int
)
returns table
as
return (select s.Ma_HV, s.HoTen_HV,s.DiaChi_HV,s.Email_HV,s.SDT_HV from HocVien s
		join PhieuThu p  on s.HocVienId=p.HocVienId
		where p.LopHocId=@idlh and s.TrangThai like '1')
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListPhieuThu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ListPhieuThu]
(
	@idlh int
)
returns table
as
return (select p.PhieuThuId, s.Ma_HV, s.HoTen_HV, NhanVien.HoTen_NV, p.SoTien,p.PhuongThucThanhToan,p.NgayThanhToan,s.HocVienId from HocVien s
		join PhieuThu p  on s.HocVienId=p.HocVienId
		join NhanVien on NhanVien.NhanVienId= p.NhanVienId
		where p.LopHocId=@idlh and s.TrangThai like '1')
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimTenTrenPhieuThu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_TimTenTrenPhieuThu]
(
	@idlh int,
	@ten nvarchar(50)
)
returns table
as
return (select p.PhieuThuId, s.Ma_HV, s.HoTen_HV, NhanVien.HoTen_NV, p.SoTien,p.PhuongThucThanhToan,p.NgayThanhToan,s.HocVienId from HocVien s
		join PhieuThu p  on s.HocVienId=p.HocVienId
		join NhanVien on NhanVien.NhanVienId= p.NhanVienId
		where p.LopHocId=@idlh and s.TrangThai like '1' and s.HoTen_HV like '%'+@ten+'%' )
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListNhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_ListNhanVien] 
()
returns table
as
	return (select * from NhanVien
	where TrangThai like '1');
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LoadLevel]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_LoadLevel] 
()
returns table
as
return(	select * from Levels
	where Levels.TrangThai like '1')
GO
/****** Object:  Table [dbo].[NhanVien_audits]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_audits](
	[Change_id] [int] IDENTITY(1,1) NOT NULL,
	[Ma_NV] [nvarchar](100) NOT NULL,
	[HoTen_NV] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT_NV] [nvarchar](100) NOT NULL,
	[CMND_NV] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NULL,
	[Update_at] [datetime] NOT NULL,
	[Operation] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Change_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[PhanQuyenId] [int] IDENTITY(1,1) NOT NULL,
	[Ten_PhanQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[PhanQuyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaikhoanGiaoVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaikhoanGiaoVien](
	[TaiKhoanGiaoVienId] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[PassWords] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PhanQuyenId] [int] NULL,
 CONSTRAINT [PK_TaikhoanGiaoVien] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanGiaoVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanHocVien](
	[TaiKhoanHocVienId] [int] IDENTITY(1,1) NOT NULL,
	[HocVienId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PassWords] [nvarchar](50) NOT NULL,
	[PhanQuyenId] [int] NULL,
 CONSTRAINT [PK_TaiKhoanHocVien] PRIMARY KEY CLUSTERED 
(
	[HocVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HocVien] ON 

INSERT [dbo].[HocVien] ([HocVienId], [Ma_HV], [HoTen_HV], [DiaChi_HV], [Email_HV], [SDT_HV], [TrangThai]) VALUES (7, N'HV_08', N'Trần Đình Trí', N'Long An', N'tritran@gmail.com', N'0813236339', N'0')
INSERT [dbo].[HocVien] ([HocVienId], [Ma_HV], [HoTen_HV], [DiaChi_HV], [Email_HV], [SDT_HV], [TrangThai]) VALUES (8, N'HV_10', N'Nguyen van a', N'tien giang', N'a@gmail.com', N'1234', N'0')
INSERT [dbo].[HocVien] ([HocVienId], [Ma_HV], [HoTen_HV], [DiaChi_HV], [Email_HV], [SDT_HV], [TrangThai]) VALUES (1007, N'HV_01', N'Lê Thị Kim Ngân', N'Quận 9', N'ngan@gmail.com', N'025868227', N'0')
SET IDENTITY_INSERT [dbo].[HocVien] OFF
SET IDENTITY_INSERT [dbo].[KhoaHoc] ON 

INSERT [dbo].[KhoaHoc] ([KhoaHocId], [Ma_KH], [Ten_KH], [MoTa], [TrangThai]) VALUES (5, N'KH_01', N'Toeic', N'Có', N'1')
INSERT [dbo].[KhoaHoc] ([KhoaHocId], [Ma_KH], [Ten_KH], [MoTa], [TrangThai]) VALUES (6, N'KH_02', N'ielts', N'Không', N'1')
INSERT [dbo].[KhoaHoc] ([KhoaHocId], [Ma_KH], [Ten_KH], [MoTa], [TrangThai]) VALUES (7, N'KH_03', N'Giao Tiếp', N'Không có!', N'0')
SET IDENTITY_INSERT [dbo].[KhoaHoc] OFF
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([LevelsId], [Ma_Level], [Ten_Level], [MoTa], [TrangThai]) VALUES (51, N'LV_01', N'Cơ Bản', N'Không Có!', N'1')
INSERT [dbo].[Levels] ([LevelsId], [Ma_Level], [Ten_Level], [MoTa], [TrangThai]) VALUES (52, N'LV_02', N'Nâng Cao', N'Không có!', N'1')
INSERT [dbo].[Levels] ([LevelsId], [Ma_Level], [Ten_Level], [MoTa], [TrangThai]) VALUES (53, N'LV_03', N'Luyện Đề', N'Không Có!', N'1')
SET IDENTITY_INSERT [dbo].[Levels] OFF
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([LopHocId], [Ma_LH], [Ten_LH], [ThoiGianBatDau_LH], [ThoiGianKetThuc_LH], [HocPhi], [NhanVienId], [KhoaHocId], [LevelsId], [SoBuoiHoc], [KhungGioHoc], [TrangThai]) VALUES (1010, N'TCB_01', N'Toeic Cơ Bản', CAST(N'2019-12-10' AS Date), CAST(N'2020-02-22' AS Date), CAST(5600000 AS Numeric(18, 0)), 15, 5, 51, 42, N'2-4-6 19h30 đến 21h', N'1')
INSERT [dbo].[LopHoc] ([LopHocId], [Ma_LH], [Ten_LH], [ThoiGianBatDau_LH], [ThoiGianKetThuc_LH], [HocPhi], [NhanVienId], [KhoaHocId], [LevelsId], [SoBuoiHoc], [KhungGioHoc], [TrangThai]) VALUES (1011, N'TNC_01', N'Toeic Nâng Cao ', CAST(N'2020-02-22' AS Date), CAST(N'2020-05-21' AS Date), CAST(5900000 AS Numeric(18, 0)), 15, 5, 52, 32, N'2-4-6 18h đến 19h30', N'1')
INSERT [dbo].[LopHoc] ([LopHocId], [Ma_LH], [Ten_LH], [ThoiGianBatDau_LH], [ThoiGianKetThuc_LH], [HocPhi], [NhanVienId], [KhoaHocId], [LevelsId], [SoBuoiHoc], [KhungGioHoc], [TrangThai]) VALUES (1012, N'il_01', N'ielts', CAST(N'2020-07-02' AS Date), CAST(N'2020-02-22' AS Date), CAST(9000000 AS Numeric(18, 0)), 15, 6, 53, 42, N'3-5-7 19h đến 21h', N'0')
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienId], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND], [Birthday], [TrangThai]) VALUES (13, N'NV_15', N'Trần Huỳnh Phương', N'Kế Toán', N'phuongtran@gmail.com', N'123456798', N'54236985', CAST(N'1991-06-10T21:30:52.000' AS DateTime), N'0')
INSERT [dbo].[NhanVien] ([NhanVienId], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND], [Birthday], [TrangThai]) VALUES (14, N'NV_16', N'Trần Phước Tài', N'Admin', N'ewiiẻtregr', N'123456', N'754561254', CAST(N'1994-09-26T21:32:13.000' AS DateTime), N'1')
INSERT [dbo].[NhanVien] ([NhanVienId], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND], [Birthday], [TrangThai]) VALUES (15, N'NV_17', N'Trần Minh Nhân', N'Giáo Viên', N'nhan123@gmail.com', N'1234569', N'553558884', CAST(N'1995-06-18T21:33:17.000' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhanVien_audits] ON 

INSERT [dbo].[NhanVien_audits] ([Change_id], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND_NV], [Birthday], [Update_at], [Operation]) VALUES (1, N'NV-6', N'Truc', N'Giao vien', N'email', N'0123', N'025', CAST(N'1999-08-10T00:00:00.000' AS DateTime), CAST(N'2019-11-30T20:11:39.310' AS DateTime), N'INS')
INSERT [dbo].[NhanVien_audits] ([Change_id], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND_NV], [Birthday], [Update_at], [Operation]) VALUES (2, N'NV-6', N'Truc', N'Giao vien', N'email', N'0123', N'025', CAST(N'1999-08-10T00:00:00.000' AS DateTime), CAST(N'2019-12-01T02:56:05.550' AS DateTime), N'DEL')
INSERT [dbo].[NhanVien_audits] ([Change_id], [Ma_NV], [HoTen_NV], [ChucVu], [Email], [SDT_NV], [CMND_NV], [Birthday], [Update_at], [Operation]) VALUES (3, N'NV_11', N'tuyen', N'tro giang', N'uyen', N'vd', N'12344', CAST(N'1999-02-25T00:00:00.000' AS DateTime), CAST(N'2019-12-05T11:35:46.500' AS DateTime), N'INS')
SET IDENTITY_INSERT [dbo].[NhanVien_audits] OFF
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([PhanQuyenId], [Ten_PhanQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([PhanQuyenId], [Ten_PhanQuyen]) VALUES (2, N'Giáo Viên')
INSERT [dbo].[PhanQuyen] ([PhanQuyenId], [Ten_PhanQuyen]) VALUES (3, N'Kế Toán')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
SET IDENTITY_INSERT [dbo].[PhieuThu] ON 

INSERT [dbo].[PhieuThu] ([PhieuThuId], [NgayThanhToan], [PhuongThucThanhToan], [HocVienId], [LopHocId], [SoTien], [NhanVienId]) VALUES (1, CAST(N'2019-12-09' AS Date), N'tiền mặt', 8, 1010, 3900000.0000, 1014)
INSERT [dbo].[PhieuThu] ([PhieuThuId], [NgayThanhToan], [PhuongThucThanhToan], [HocVienId], [LopHocId], [SoTien], [NhanVienId]) VALUES (2, CAST(N'2019-12-09' AS Date), N'Tiền mặt', 1012, 1010, 5000000.0000, 1014)
INSERT [dbo].[PhieuThu] ([PhieuThuId], [NgayThanhToan], [PhuongThucThanhToan], [HocVienId], [LopHocId], [SoTien], [NhanVienId]) VALUES (3, CAST(N'2019-12-09' AS Date), N'tiền mặt', 1013, 1011, 5000000.0000, 1014)
SET IDENTITY_INSERT [dbo].[PhieuThu] OFF
SET IDENTITY_INSERT [dbo].[TaikhoanGiaoVien] ON 

INSERT [dbo].[TaikhoanGiaoVien] ([TaiKhoanGiaoVienId], [NhanVienId], [Username], [ChucVu], [PassWords], [TrangThai], [PhanQuyenId]) VALUES (5, 13, N'Trần Huỳnh Phương', N'Kế Toán', N'123456798', N'0', 3)
INSERT [dbo].[TaikhoanGiaoVien] ([TaiKhoanGiaoVienId], [NhanVienId], [Username], [ChucVu], [PassWords], [TrangThai], [PhanQuyenId]) VALUES (6, 15, N'Trần Minh Nhân', N'Giáo Viên', N'1234569', N'1', 2)
INSERT [dbo].[TaikhoanGiaoVien] ([TaiKhoanGiaoVienId], [NhanVienId], [Username], [ChucVu], [PassWords], [TrangThai], [PhanQuyenId]) VALUES (1005, 1014, N'Admin', N'Admin', N'123456789', N'1', 1)
SET IDENTITY_INSERT [dbo].[TaikhoanGiaoVien] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoanHocVien] ON 

INSERT [dbo].[TaiKhoanHocVien] ([TaiKhoanHocVienId], [HocVienId], [Username], [TrangThai], [PassWords], [PhanQuyenId]) VALUES (4, 7, N'Trần Đình Trí', N'0', N'0813236339', 4)
INSERT [dbo].[TaiKhoanHocVien] ([TaiKhoanHocVienId], [HocVienId], [Username], [TrangThai], [PassWords], [PhanQuyenId]) VALUES (5, 8, N'Đỗ Trần Ngọc Tuệ', N'0', N'0367628918', 4)
INSERT [dbo].[TaiKhoanHocVien] ([TaiKhoanHocVienId], [HocVienId], [Username], [TrangThai], [PassWords], [PhanQuyenId]) VALUES (1004, 1007, N'Lê Thị Kim Ngân', N'0', N'025868227', 4)
SET IDENTITY_INSERT [dbo].[TaiKhoanHocVien] OFF
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [fk_LH_KH] FOREIGN KEY([KhoaHocId])
REFERENCES [dbo].[KhoaHoc] ([KhoaHocId])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [fk_LH_KH]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [fk_LH_LV] FOREIGN KEY([LevelsId])
REFERENCES [dbo].[Levels] ([LevelsId])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [fk_LH_LV]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [fk_LH_NV] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [fk_LH_NV]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [fk_PT_HV] FOREIGN KEY([HocVienId])
REFERENCES [dbo].[HocVien] ([HocVienId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [fk_PT_HV]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [fk_PT_LH] FOREIGN KEY([LopHocId])
REFERENCES [dbo].[LopHoc] ([LopHocId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [fk_PT_LH]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [fk_PT_NV] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [fk_PT_NV]
GO
ALTER TABLE [dbo].[TaikhoanGiaoVien]  WITH CHECK ADD  CONSTRAINT [fk_PQ_GV] FOREIGN KEY([PhanQuyenId])
REFERENCES [dbo].[PhanQuyen] ([PhanQuyenId])
GO
ALTER TABLE [dbo].[TaikhoanGiaoVien] CHECK CONSTRAINT [fk_PQ_GV]
GO
ALTER TABLE [dbo].[TaikhoanGiaoVien]  WITH CHECK ADD  CONSTRAINT [fk_TKGV_GV] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
GO
ALTER TABLE [dbo].[TaikhoanGiaoVien] CHECK CONSTRAINT [fk_TKGV_GV]
GO
ALTER TABLE [dbo].[TaiKhoanHocVien]  WITH CHECK ADD  CONSTRAINT [fk_PQ_HV] FOREIGN KEY([PhanQuyenId])
REFERENCES [dbo].[PhanQuyen] ([PhanQuyenId])
GO
ALTER TABLE [dbo].[TaiKhoanHocVien] CHECK CONSTRAINT [fk_PQ_HV]
GO
ALTER TABLE [dbo].[TaiKhoanHocVien]  WITH CHECK ADD  CONSTRAINT [fk_TK_HV] FOREIGN KEY([HocVienId])
REFERENCES [dbo].[HocVien] ([HocVienId])
GO
ALTER TABLE [dbo].[TaiKhoanHocVien] CHECK CONSTRAINT [fk_TK_HV]
GO
ALTER TABLE [dbo].[NhanVien_audits]  WITH CHECK ADD CHECK  (([operation]='INS' OR [operation]='DEL'))
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatPhieuThu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_CapNhatPhieuThu]
	@idpt int ,
	@ngaythanhtoan smalldatetime,
	@phuongthucthanhtoan nvarchar(50),
	@sotien numeric(18,0),
	@idhv int,
	@idlh int,
	@idnv int
as
	begin 

	begin tran ;
			begin try 
				update PhieuThu
				set NgayThanhToan=@ngaythanhtoan,PhuongThucThanhToan=@phuongthucthanhtoan,
				SoTien=@sotien,NhanVienId=@idnv			
				where HocVienId=@idhv and LopHocId=@idlh
				commit tran;
			end try
			begin catch
				rollback tran
			end catch		
end

GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTaiKhoanHV]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_KiemTraTaiKhoanHV]
(	@idpq int output,
	@idhv int output,
	@name nvarchar(100),
	@pass nvarchar(100)
	)					   
as
begin
	select @idpq = PhanQuyenId, @idhv=HocVienId from TaiKhoanHocVien
	where Username like @name
	and PassWords like @pass	
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTaiKhoanNV]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_KiemTraTaiKhoanNV]
(	@idpq int output,
	@idnv int output,
	@name nvarchar(100),
	@pass nvarchar(100), 
	@chucvu nvarchar(100)
	)					   
as
begin
	select @idpq = PhanQuyenId, @idnv=NhanVienId from TaikhoanGiaoVien
	where Username like @name
	and PassWords like @pass	
	and ChucVu like @chucvu
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListKhoaHoc] 
as
	select * from KhoaHoc;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListNhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListNhanVien] 
as
	select * from NhanVien;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadLevel]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LoadLevel] 
as
	select * from Levels
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_SuaHocVien]
	@idhv int ,
	@mahv nvarchar(50),
	@hoten nvarchar(50),
	@diachi nvarchar(100),
	@email nvarchar(50),
	@sdt nvarchar(50)
as
	begin 

	begin tran ;
			begin try 
				update HocVien
				set Ma_HV=@mahv, HoTen_HV=@hoten, DiaChi_HV=@diachi,
				Email_HV=@email,SDT_HV=@sdt
				where HocVienId=@idhv
				commit tran;
			end try
			begin catch
				rollback tran
			end catch		
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SuaKhoaHoc] 
	@id_KH int,
	@makh nvarchar(100),
	@tenkh nvarchar(100),
	@mota nvarchar(100)
as
begin
			begin tran ;
			begin try 
				set identity_insert KhoaHoc off;
				update KhoaHoc set Ma_KH=@makh,Ten_KH=@tenkh,MoTa=@mota
				where KhoaHocId=@id_KH 
				commit tran;
			end try
			begin catch
				rollback tran				
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaLevel]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SuaLevel] 
	@idlv int ,
	@malv nvarchar(100),
	@mota nvarchar(50),
	@tenlv nvarchar(50)
as
begin
		begin tran ;
			begin try 
				set identity_insert Levels off;
				update Levels set Ma_Level=@malv,Ten_Level=@tenlv,MoTa=@mota
				where LevelsId=@idlv 
				commit tran;
			end try
			begin catch
				rollback tran				
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaLopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_SuaLopHoc]
	@malh nvarchar(100),
	@tenlh nvarchar(100),
	@thoigianbatdau smalldatetime,
	@thoigianketthuc smalldatetime,
	@hocphi numeric(18,0),
	@idnv int ,
	@idkh int,
	@idlv int,
	@sobuoihoc int,
	@khunggiohoc nvarchar(max)
as
begin
		begin tran ;
			begin try 
				update LopHoc
				set Ma_LH= @malh, Ten_LH = @tenlh, ThoiGianBatDau_LH= @thoigianbatdau, ThoiGianKetThuc_LH= @thoigianketthuc, 
				HocPhi = @hocphi, NhanVienId= @idnv, KhoaHocId = @idkh, LevelsId = @idlv, SoBuoiHoc = @sobuoihoc, KhungGioHoc= @khunggiohoc
				where Ma_LH=@malh;
				commit tran;
			end try
			begin catch
				rollback tran
			end catch		

end		
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SuaNhanVien] 
	@id_nv int ,
	@manv nvarchar(100),
	@hoten nvarchar(50),
	@chucvu nvarchar(50),
	@email nvarchar(50),
	@sdt nvarchar(50),
	@cmnd nvarchar(50),
	@ngaysinh datetime
as
	begin 

		begin tran ;
			begin try 
				set identity_insert NhanVien off;
				update NhanVien set Ma_NV=@manv, HoTen_NV=@hoten,ChucVu=@chucvu,Email=@email,SDT_NV=@sdt,CMND=@cmnd,Birthday=@ngaysinh
				where NhanVienId=@id_nv;
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNhomTaiLieu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SuaNhomTaiLieu] 
	@id_NTL int,
	@ten nvarchar(50),
	@idkh int
as
	begin
	if(exists (select * from NhomTaiLieu
				where Ten_NTL like @ten))
				return -1;
	else 
			begin tran ;
			begin try 
				update NhomTaiLieu set Ten_NTL=@ten,KhoaHocId=@idkh
				where NhomTaiLieuId=@id_NTL
				waitfor delay '00:00:02';			
				commit tran;
			end try
			begin catch
				rollback tran				
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemHocVien]
	@mahv nvarchar(50),
	@hoten nvarchar(50),
	@diachi nvarchar(100),
	@email nvarchar(50),
	@sdt nvarchar(50)
as
	begin 
	if(exists (select * from HocVien
				where Ma_HV like @mahv and TrangThai like '1'))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert HocVien off;
				insert into HocVien(Ma_HV,HoTen_HV,DiaChi_HV,Email_HV,SDT_HV, TrangThai)
				values (@mahv,@hoten,@diachi,@email,@sdt, 1);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemKhoaHoc]
	@makh nvarchar(100),
	@tenkh nvarchar(100),
	@mota nvarchar(100)
as
	begin 
	if(exists (select * from KhoaHoc
				where (Ma_KH=@makh or Ten_KH like @tenkh) and TrangThai like '1'))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert KhoaHoc off;
				insert into KhoaHoc(Ma_KH,Ten_KH,MoTa, TrangThai)
				values (@makh,@tenkh,@mota, 1);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLevel]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemLevel]
	@malv nvarchar(100),
	@tenlv nvarchar(50),
	@mota nvarchar(50)
as
begin
	if(exists (select * from Levels
				where (Ma_Level= @malv) or (Ten_Level like @tenlv)and TrangThai like '1'))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert Levels off;
				insert into Levels(Ma_Level,Ten_Level,MoTa,TrangThai)
				values (@malv,@tenlv,@mota, 1);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch

end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemLopHoc]
	@malh nvarchar(100),
	@tenlh nvarchar(100),
	@thoigianbatdau smalldatetime,
	@thoigianketthuc smalldatetime,
	@hocphi numeric(18,0),
	@idnv int ,
	@idkh int,
	@idlv int,
	@sobuoihoc int,
	@khunggiohoc nvarchar(max)
as
begin 
	if(exists (select * from LopHoc
				where Ma_LH=@malh and TrangThai like '1'))
				return -1
	else		begin tran ;
			begin try 
				set identity_insert LopHoc off;
				insert into LopHoc(Ma_LH,Ten_LH,ThoiGianBatDau_LH,ThoiGianKetThuc_LH,HocPhi,NhanVienId
				,KhoaHocId,LevelsId,SoBuoiHoc,KhungGioHoc, TrangThai)
				values (@malh,@tenlh, @thoigianbatdau,@thoigianketthuc,@hocphi,@idnv,@idkh,@idlv,@sobuoihoc,@khunggiohoc, 1);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch

end		
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThemNhanVien] 
	@manv nvarchar(100),
	@hoten nvarchar(50),
	@chucvu nvarchar(50),
	@email nvarchar(50),
	@sdt nvarchar(50),
	@cmnd nvarchar(50),
	@ngaysinh datetime

as
begin 
	if(exists (select * from NhanVien
				where CMND=@cmnd and Ma_NV=@manv and TrangThai like '1'))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert NhanVien off;
				insert into NhanVien(Ma_NV,HoTen_NV,ChucVu,Email,SDT_NV,CMND,Birthday,TrangThai)
				values (@manv,@hoten,@chucvu,@email,@sdt,@cmnd,@ngaysinh, 1);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhomTaiLieu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemNhomTaiLieu]
	@ten nvarchar(50),
	@idkh int,
	@trangthai nvarchar(50) = '1'
as
	begin 
	if(exists (select * from NhomTaiLieu
				where Ten_NTL like @ten))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert NhomTaiLieu off;
				insert into NhomTaiLieu(Ten_NTL,KhoaHocId, TrangThai)
				values (@ten,@idkh, @trangthai);	
				waitfor delay '00:00:02';			
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhanQuyen]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThemPhanQuyen]
	@ten nvarchar(100)
as
begin 
	 if(exists (select * from PhanQuyen 
				where  (Ten_PhanQuyen= @ten)))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert PhanQuyen off;
				insert into PhanQuyen(Ten_PhanQuyen)
				values (@ten);	
				waitfor delay '00:00:05';			
				commit tran;
				return 0;
			end try
			begin catch
				rollback tran
			end catch

end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhieuThu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ThemPhieuThu]	
	@idhv int,
	@idlh int,
	@idnv int
as
	begin 
	if(exists (select * from PhieuThu
				where HocVienId=@idhv and LopHocId= @idlh ))
				return -1;
	else
		begin tran ;
			begin try 
				set identity_insert PhieuThu off;
				insert into PhieuThu(HocVienId,LopHocId,NhanVienId)
				values (@idhv,@idlh,@idnv);	
				commit tran;
			end try
			begin catch
				rollback tran
			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimHocVienTheoTen]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TimHocVienTheoTen] 
	@ten nvarchar(50)
as
	select * from HocVien
			where UPPER(HocVien.HoTen_HV) like '%'+@ten+'%';
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNhanVienTheoTen]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TimNhanVienTheoTen] 
	@ten nvarchar(50),
	@chucvu nvarchar(50) =null
as
	begin 
		if(@chucvu is null)
			select * from NhanVien
			where UPPER(NhanVien.HoTen_NV) like '%'+@ten+'%';
		else
			select * from NhanVien
			where UPPER(NhanVien.HoTen_NV) like '%'+@ten+'%'
			and NhanVien.ChucVu like @chucvu
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaHocVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaHocVien] 
	@id_hv int 	
as
		update HocVien
		set TrangThai = '0'
		where HocVienId=@id_hv;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaKhoaHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaKhoaHoc] 
	@id_kh int 
as
	update KhoaHoc
	set TrangThai = '0'
	where KhoaHocId=@id_kh
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaLevel]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaLevel] 
	@idlv int 
as
	update Levels 
	set TrangThai = '0'
	where Levels.LevelsId=@idlv;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaLopHoc]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaLopHoc] 
	@idlh int 	
as
		update LopHoc
		set TrangThai = '0'
		where LopHocId=@idlh;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhanVien]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaNhanVien] 
	@id_nv int 	
as
		update NhanVien
		set TrangThai = '0'
		where NhanVienId=@id_nv;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhomTaiLieu]    Script Date: 12/10/2019 23:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaNhomTaiLieu] 
	@id_ntl int 
as
	update NhomTaiLieu
	set TrangThai = '0'
	where NhomTaiLieuId=@id_ntl;
GO
